version: "3"
services:
  db:
    image: postgres
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-U", "enpitsu", "-d", "enpitsu"]
      interval: 3s
      retries: 10
      start_period: 30s
    environment:
      POSTGRES_DB: enpitsu
      POSTGRES_USER: enpitsu
      POSTGRES_PASSWORD: enpitsu
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - db:/var/lib/postgresql/data
    expose:
      - 5432

  cache:
    image: redis:6.2-alpine
    restart: always
    command: redis-server --save 20 1 --loglevel warning --requirepass enpitsu
    volumes:
      - cache:/data
    expose:
      - 6379

  web:
    container_name: enpitsu_admin
    image: rmecha/enpitsu:main
    restart: always
    environment:
      VIRTUAL_HOST: ${ENPITSU_VIRTUAL_HOST}
      LETSENCRYPT_HOST: ${ENPITSU_VIRTUAL_HOST}
      DATABASE_URL: postgresql://enpitsu:enpitsu@db:5432/enpitsu
      REDIS_URL: redis://:enpitsu@cache:6379/4
      AUTH_URL: https://${ENPITSU_VIRTUAL_HOST}
      AUTH_SECRET: ${ENPITSU_AUTH_SECRET}
      AUTH_GOOGLE_ID: ${ENPITSU_AUTH_GOOGLE_ID}
      AUTH_GOOGLE_SECRET: ${ENPITSU_AUTH_GOOGLE_SECRET}
    expose:
      - 3000

volumes:
  db:
  cache:
